<footer class="footer">

    <div class="footer-container">

        <div class="footer-brand">

            <a class="logo" href="#">
                <span class="logo-icon">
                    <i class="fa-solid fa-bag-shopping"></i>
                </span>
                Nova<span>Cart</span>
            </a>

            <p>
                Making online shopping simple,
                beautiful and enjoyable.
            </p>

            <div class="socials">

                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>

            </div>

        </div>


        <div class="footer-column">

            <h4>Shop</h4>

            <a href="#">All Products</a>
            <a href="#">New Arrivals</a>
            <a href="#">Best Sellers</a>
            <a href="#">Deals</a>

        </div>


        <div class="footer-column">

            <h4>Company</h4>

            <a href="#">About Us</a>
            <a href="#">Contact</a>
            <a href="#">Careers</a>
            <a href="#">Blog</a>

        </div>


        <div class="footer-column">

            <h4>Support</h4>

            <a href="#">Help Center</a>
            <a href="#">Shipping</a>
            <a href="#">Returns</a>
            <a href="#">Privacy Policy</a>

        </div>

    </div>


    <div class="footer-bottom">

        <p>
            © 2026 NovaCart. All rights reserved.
        </p>

        <p>
            Made with ❤️ for better shopping.
        </p>

    </div>

</footer>