<header class="navbar">

    <div class="nav-container">

        <a class="logo" href="{% url 'shop_home' %}">
            <span class="logo-icon">
                <i class="fa-solid fa-bag-shopping"></i>
            </span>
            Nova<span>Cart</span>
        </a>

        <nav class="nav-links">

            <a class="active" href="{% url 'shop_home' %}">Home</a>
            <a href="{% url 'shop_list' %}">Shop</a>
            <a href="{% url 'shop_categories' %}">Categories</a>
            <a href="{% url 'shop_deals' %}">Deals</a>
            <a href="{%url 'shop_about' %}">About</a>

        </nav>

        <div class="nav-actions">

            <a href="{% url 'cart_list'  %}" class="nav-btn cart-btn">
                <i class="fa-solid fa-bag-shopping"></i>
                {% if cart_count > 0 %}
                    <span class="cart-count">
                        {{ cart_count }}
                    </span>
                {% endif %}
            </a>

            {% if request.session.customer_id %}

            <div class="user-menu">
                <button class="user-menu-btn"
                        type="button"
                        onclick="toggleUserDropdown()">

                    <i class="fa-regular fa-user"></i>

                    <span>
                        {{ request.session.customer_name }}
                    </span>

                    <i class="fa-solid fa-chevron-down user-chevron"></i>

                </button>


                <!-- USER DROPDOWN -->

                <div class="user-dropdown" id="userDropdown">

                    <!-- USER INFO -->

                    <div class="user-dropdown-header">

                        <div class="user-avatar">
                            <i class="fa-solid fa-user"></i>
                        </div>

                        <div class="user-dropdown-info">

                            <strong>
                                {{ request.session.customer_name }}
                            </strong>

                            <span>
                    My Account
                </span>

                        </div>

                    </div>


                    <div class="dropdown-divider"></div>


                    <!-- PROFILE -->

                    <a href="{% url 'my_profile' %}"
                       class="user-dropdown-item">

                        <i class="fa-regular fa-user"></i>

                        <span>
                My Profile
            </span>

                    </a>


                    <!-- ORDERS -->

                    <a href="{% url 'my_orders' %}"
                       class="user-dropdown-item">

                        <i class="fa-solid fa-box"></i>

                        <span>
                My Orders
            </span>

                    </a>


                    <div class="dropdown-divider"></div>


                    <!-- LOGOUT -->

                    <a href="{% url 'shop_logout' %}"
                       class="user-dropdown-item logout-item">

                        <i class="fa-solid fa-right-from-bracket"></i>

                        <span>
                Logout
            </span>

                    </a>

                </div>

            </div>


            {% else %}

            <a class="profile-btn" href="{% url 'shop_login' %}">

                <i class="fa-regular fa-user"></i>

            </a>

            {% endif %}
        </div>

    </div>

</header>